#foodImages {
    width: 250px;
    height: 250px
}
.images {
    margin-left: 50px;
    margin-top: 20px
}
#welcomeHeading {
    text-align: center;
    margin-top: 50px;
    font-size: 50px
}
#welcomeSubheading {
    text-align: center;
    margin-top:30px
}
.signin-col {
    padding:20px 20px 20px 20px;
    border:1px solid black;
    margin-top:50px;
    margin-bottom:100px
}
.login-col {
    padding:20px 20px 20px 20px;
    border:1px solid black;
    margin-top:50px;
    margin-bottom:100px
}